# PORT=3000

# JWT_ACCESS_SECRET="no utilizar esta palabra en producción"

# POSTGRES_HOST="localhost"
# POSTGRES_PORT=5436
# POSTGRES_USERNAME="postgres"
# POSTGRES_PASSWORD="postgres"
# POSTGRES_DATABASE="hostal_corzin"
# POSTGRES_SSL="false"

# MAIL_HOST='smtp.gmail.com'
# MAIL_USER='jfelipestc@gmail.com'
# MAIL_PASS=''
# MAIL_FROM='Hostal-Restaurante-Corzin'